#username-container {
    animation: fade-in 500ms;
    max-width: 469px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#username-hint-paragraph {
    margin: 25px auto;
    font-style: italic;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

#username-form {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
}

#username-form > input {
    color: rgb(2, 39, 53);
    border: none;
    font-size: large;
    font-weight: bolder;
    padding: 15px;
}

#username-input {
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

#username-input:focus {
    background-color: rgb(246, 252, 255);
    box-shadow: 1px 1px 1px rgba(91, 91, 91, 0.181);
}

#username-submit {
    cursor: pointer;
    background-color: rgb(47, 132, 181);
    color: rgb(255, 255, 255) !important;
    border-radius: 0px 10px 10px 0px;
    transition: 500ms;
}

#username-submit:hover {
    background-color: rgb(3, 3, 75);
}

@media (max-width:600px){
    #username-hint-paragraph {
        width: 70%;
    }

    #username-form {
        flex-direction: column;
        gap: 20px;
    }

    #username-input, #username-submit {
        border-radius: 20px;
    }
}