#messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 95%;
    height: 80%;
}

#messages-spacer {
    height: 80vh;
}

.user-message {
    align-self: flex-start !important;
}

.msg-item {
    animation: fade-in-msg 400ms;
    align-self: end;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.877);
    padding: 15px 10px;
}

.user-message > .msg-username {
    margin: -15px 0px 0px -10px;
    align-self: flex-start;
    background-color: rgb(47, 132, 181);
    padding: 5px 10px;
    font: smaller;
    border-radius: 0px 0px 10px 0px;
    max-width: fit-content;

    font-style: italic;
    color: rgba(0, 0, 0, 0.814);
}

.msg-username {
    margin: -15px -10px 0px 0px;
    align-self: end;
    background-color: rgba(47, 132, 181, 0.297);
    padding: 5px 10px;
    font: smaller;
    border-radius: 0px 0px 0px 10px;
    max-width: fit-content;

    font-style: italic;
    color: rgba(0, 0, 0, 0.814);
    transition: 300ms;
}

.user-message > .msg-username:hover {
    cursor: pointer;
    background-color: rgb(3, 3, 75);
    color: rgba(255, 255, 255, 0.856);
}

.msg-body {
    margin: 10px 0px 0px 0px;
    font: large;
    color: rgba(2, 20, 37, 0.77);
}

@keyframes fade-in-msg {
    from {
        transform: translateY(30px);
        transform: scaleX(.1);
        opacity: 0;
    } 50% {
        transform: scaleX(1);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}